


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="conatainer my-5">
            <h1 class="text-center">Weather Api</h1>
            <hr class="bg-success w-25">
       <form action="">
            <div class="row">
                   
                    <div class="col-md-5 m-auto shadow-lg p-5 rounded">
                        <div class="form-group">
                            <label for="">Enter City Name </label>
                            <input id="cname" type="text" name="cityname" class="form-control"> 
                        </div>

                        <div class="form-group">
                                <label for="">Enter Range (km)</label>
                                <input id="range" type="text" class="form-control"  placeholder="10" name="range"> 
                            </div>



                            <div class="form-group">
                         <button type="submit" class="btn btn-success btn-block">  Submit</button>   
                                </div>
                    </div>
                </div>
       </form>
    </div>
<div>




    <div class="container">
<h1> Your current location Weather Information</h1>
            <ul class="list-group list-group-flush">
                {% for k,v in data.items %}
                <h3>
                    <li class="list-group-item"><span >{{k}} >> </span> {{v}}</li>
                    </h3>
                    {% endfor %}
                </ul>
    </div>
       
        
        
        
        
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>